.album{

	display:inline-block;
	height:80px;
	width: 80px;
	padding: 10px 0px;
	margin:5px;
	/*border: 0px solid black;*/
	border-radius: 20px;
	text-overflow: ellipsis; 
	/*background-color: white;*/
}
.album:hover{
	opacity: 0.5;
}
.album-img{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height : 70%;
	width: 65%;
	background-size: cover;
	background-position: center;
	border: 2px solid white;
	border-radius: 10%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 15px;
}

.album-name{
	display:inline;
	text-align: center;
	margin-top: 12px;
	font-size: 60%;
	color:black;
	text-overflow: ellipsis; 
}