.info{
	display:wrap;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #F2F2F2FF;
	/*border: 1px solid black;*/
	border-radius: 20px;
	margin: 25px;
	padding: 10px 30px;
	text-align: center;
}
.info h1{
	color: red;
}