.wrapper{
	display:inline-block;
	height:80px;
	width: 80px;
	padding: 10px 0px;
	margin:5px;
	/*border: 0px solid black;*/
	border-radius: 20px;
	/*background-color: white;*/
}
.wrapper:hover{
	opacity: 0.5;
}

.ava-img{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height : 70%;
	width: 65%;
	background-size: cover;
	background-position: center;
	border: 2px solid white;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	margin:auto;
}


.ava-name{
	text-align: center;
	margin-top: 8px;
	font-size: 60%;
	color:black;
}