.comment{
	display:inline-block;
	border-bottom: 2px solid #CECECEFF;
	margin: 5px 10px;
	padding: 5px 10[x];
	text-align: left;
	min-height: 10vh;
}

.comment-title{
	border-bottom: 1px solid #CECECEFF;
	font-size: 1.5vh;
	font-weight: bold;

}

.comment-title span{
	font-size: 1.3vh;

}

.comment-body{
	font-size: 1.3vh;

}

.comment button {
	border-radius: 10px;
	margin: 5px;
	font-size: 1.5vh;
	vertical-align:center;
}