.photo{
	margin:10px;
}

.photo-source{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #F2F2F2FF;
	display: inline-block;
	/*border:2px solid black;*/
	margin:10px;
	padding-left: 5vw;
	padding-top: 50px; 
	justify-content:space-around;
	border-radius: 20px;

}

.border-photo{
	/*display:flex;*/
	justify-content: center;
	border:2px solid white;
	margin: 1vw;
}
.photo-name{
	display: block;
	font-size: 1.3vh;
}