.post{
	display:block;
	border-bottom: 2px solid #CECECEFF;
	margin: 15px;
	padding: 10px 20px;
	text-align: left;
	min-height: 20vh;

}

.post-title{
	display:block;
	font-style: oblique;
	font-size: 1.5vw;
	font-weight: bold;
	margin-bottom: 10px;
	border-bottom: 2px solid white;
}

.post-body{
	display:inline;
	font-size:1.3vw;
}

.comment{
	background-color: white;
}


.more-button{
	margin-bottom: 5px;
	border: none;
	border-radius: 50%;
	transition-duration: 0.4s;
	font-size: 80%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.more-button:hover{
	background-color: #193756FF; /* Green */
    color: white;
}

.hidden{
	display:none;
}

.form-group{
	font-size: 1.3vh;
	margin-top: 10px;
	padding:10px 50px;
	width: 50vw;
	border-top: 1px solid white;
}


.submit{
	margin-top:10px;
	border-radius: 5%;
	width: 100%;
	font-size: 2vh;
}
