.profile{
	display:wrap;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #F2F2F2FF;
	/*border: 1px solid black;*/
	border-radius: 20px;
	margin: 25px;
	padding: 10px 30px;
}

.user-detail{
	display:flex;
	justify-content: center;
	text-align: center;
	background-color: #F2F2F2FF;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 20px;
	font-weight: 555;

}


.user-album{
	display:flex;
	/*flex-direction:row;*/
	flex-wrap:wrap;
	justify-content: flex-end;
	text-align: center;
	background-color: #F2F2F2FF;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 20px;
	margin:5% auto;
	padding: 20px;
	line-height: 0.8;
}

.user-post{
	justify-content: center;
	text-align: center;
	background-color: #F2F2F2FF;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 20px;
	margin:5% auto;
	padding: 10px
}

.center{
	display: block;
	text-align: center;
	min-height: 5vh;
}

p{
	padding-bottom: 5px;
	line-height: 5px;
}



