.content{
  /*flex: 1 0 auto;*/
  display:flex;
  background-color: #C4CEDDFF;
}

.main{
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  background-color: #8293E8FF;
}

.user-list{
  margin:40px 10px;
  flex-grow: 1;
  top:0;
  bottom:0;
  position: sticky;
  background-color: #C4CEDDFF;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #D22;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.main{
  display:wrap;
}

